
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/images/home/sau.jpg" />
<br />
<br />
<br />


    Biz Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri fakültesi Bilgisayar Mühendisliği 3.Sınıf öğrencileriyiz.
<li>Mert Geyik</li>
<li>Abdullah Özerol</li>
<li>Burak Sarı</li>

<br />
<p> Mert Geyik: 1994 İstanbul Üsküdar doğumlu. Liseyi Maltepe Anadolu Meslek Lisesinde Bilişim Teknolojileri alanında okudu. İstanbulda yaşıyor</p>
<p>Abdullah Özerol: 1994 İstanbul Fatih doğumlu. Liseyi Maltepe Anadolu Meslek Lisesinde Bilişim Teknolojileri alanında yaptı. İstanbulda yaşıyor</p>
<p>Burak Sarı: 1994 İstanbul Bursa doğumlu. Liseyi Maltepe Anadolu Meslek Lisesinde Bilişim Teknolojileri alanında yaptı. Bursada yaşıyor</p>



<p>

    Temel programlama öğrendikten sonra yapacağımız bu projede amacımız gerçekte hizmet verebilecek bir ayakkabı firmasının web sitesini yapabilmektir.
    Bu Amaçla ASP.NET MVC mimarisi ve biz yazılımcılara ne kolaylıklar kazandırdığını araştırdık. Projenin Amaçlarını ve işlevlerini belirledik
</p>


<p>
    Dersi Veren: Öğretim Görevlisi Baran KAYNAK
</p>





