
@{
    ViewBag.Title = "Projelerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 style="color:#DE2628;">1-2014 Yılında Java Programlama dilinde bir ayakkabı sitesi uygulaması</h4>
<h4 style="color:#DE2628;">2-2013 Yılında C++ Programlama dilinde bir Telefon Rehberi uygulaması</h4>
<h4 style="color:#DE2628;">3-2015 Yılında C++ Programlama dilinde Kabuk uygulaması</h4>
<h4 style="color:#DE2628;">4-2015 Yılında ASP.NET MVC Mimarisi ile web sitesi uygulaması </h4>
<h4 style="color:#DE2628;">5-2015 Yılında C++ Programlama dilinde Bağıl Liste Uygulaması</h4>



