
@{
    ViewBag.Title = "Gizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="std">
    <h4><span style="color: #ec6600;"><strong>GİZLİLİK VE GÜVENLİK BİLDİRİMİ</strong></span></h4>
    <p> </p>
    <p> </p>
    <p><span style="color: #ec6600;"><strong>Gizlilik Bildirimi</strong></span></p>

    <p> </p>
    <p><span style="color: #ec6600;"><strong>Kişisel Bilgilerinizin Toplanması</strong></span></p>
    <p>  Sitemizde istenen kişisel bilgileriniz hizmetlerimizin sunulabilmesi, bilgilendirme, iletişim vb. Durumlar için kayıt altında tutulmaktadır.</p>
    <p> </p>
    <p>  Topladığımız kişisel bilgiler arasında adınız, unvanınız, şirket veya kuruluşunuzun adı, iş e-posta adresiniz, iş telefonunuz, iş veya ev adresiniz ve iş tanımınızla, cinsiyetiniz, doğum tarihiniz, T.C. kimlik numaranız, vergi dairesi numaranız ve şirketinizle <del cite="mailto:BTS" datetime="2015-02-20T11:11"></del><del cite="mailto:BTS" datetime="2015-02-20T11:11"></del>ilgili bilgiler olabilir.</p>
    <p> </p>
    <p>  Site, ziyaretleriniz hakkında, siteye erişmek için kullandığınız internet servis sağlayıcısının adı ve internet protokol (IP) adresi, siteye erişme tarihi ve saatiniz, sitede bulunduğunuz sırada eriştiğiniz sayfalar ve sitemize doğrudan bağlanmanızı sağlayan web sitesinin internet adresi gibi birtakım bilgiler toplayabilir. Bu bilgiler sitenin iyileştirilmesi, eğilimlerin analiz edilmesi ve sitenin yönetilmesi için kullanılır. Servislerimizden bazıları, istenen bir hizmeti sağlamak için donanım ve yazılımınızla ilgili bilgiler toplar.</p>
    <p> </p>
    <p><span style="color: #ec6600;"><strong>Kişisel Bilgilerinizin Kullanımı</strong></span></p>
    <p>  Sitede toplanan kişisel bilgiler, Sitenin işletilmesi ve istediğiniz veya yetkilendirdiğiniz hizmetlerin sağlanması (ürün gönderimi, fatura düzenlemesi vs.) ya da işlemlerin yerine getirilmesi için kullanılır.</p>
    <p> </p>
    <p>  BAM Ayakkabı bu kullanımları desteklemek üzere, müşterilerine daha etkili hizmet sunmak, siteyi ve diğer ilgili BAM ürünlerini veya hizmetlerini iyileştirmek ve aynı bilgileri tekrar tekrar girme gereğini ortadan kaldırarak sitenin kullanımını daha kolay hale getirmek veya siteyi özel tercihlerinize ve ilgi alanlarınıza göre özelleştirmek için kişisel bilgileri kullanabilir. <del cite="mailto:BTS" datetime="2015-02-20T11:11"></del>Flo.com.tr tarafından kullanılan bilgiler diğer FLO hizmetleri tarafından toplanan bilgilerle birleştirilebilir.</p>
    <p> </p>
    <p>  Kişisel bilgilerinizi, bildirimleri de içerecek şekilde, kullanmakta olduğunuz ürün veya hizmetler hakkında bilgiler sağlamak için kullanabiliriz. Ayrıca, size diğer BAM Ayakkabı ürünleri ve hizmetleri hakkında bilgiler gönderebiliriz.</p>
    <p> </p>


    <p> </p>
    <p>  BAM Ayakkabı, kişisel bilgilerinizi yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya BAM ya da siteye tebliğ edilen yasal işlemlere uymak; (b) FLO haklarını ve mülkiyetini korumak ve savunmak; (c) kamu güvenliği açısından acil durumlarda harekete geçmek için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.</p>
    <p> </p>
    <p><span style="color: #ec6600;"><strong>Kişisel Bilgilerinizin Güvenliği</strong></span></p>
    <p>  BAM Ayakkabı, kişisel bilgilerinizin güvenliğini korumayı ilke edinmiştir. Kişisel bilgilerinizi yetkisiz erişime, kullanıma veya açığa çıkmaya karşı korumak için çok çeşitli güvenlik teknolojileri ve yordamları kullanır. Örneğin, sağladığınız bilgileri kontrol altındaki tesislerde bulunan ve sınırlı erişimi olan bilgisayar sunucularında depolarız. Ayrıca, kredi kartı numarası gibi hassas kişisel bilgileri İnternet üzerinden ilettiğimizde, bunları Güvenli Yuva Katmanı (SSL) protokolü gibi şifreleme yöntemleriyle koruruz. Ayrıca kredi kartı bilgilerinizi herhangi bir şekilde sistemlerimizde saklamayız. Kullanılan Kredi kartları özel crypto yöntemleri ile şifrelenerek ilgili bankaya iletilir.</p>
    <p> </p>
    <p><span style="color: #ec6600;"><strong>Bu Gizlilik Bildiriminde Yapılabilecek Değişiklikler</strong></span></p>
    <p>  Bu gizlilik bildirimini zaman zaman güncelleştirebiliriz. Bunu yaparken gizlilik bildiriminin üst bölümünde yer alan "son güncelleştirme tarihi" kısmını da değiştiririz. Topladığımız kişisel bilgileri korumak için hangi yöntemlerden yararlandığımız konusunda bilgi sahibi olmak için bu gizlilik bildirimini düzenli aralıklarla gözden geçirmenizi öneririz. Hizmeti sürekli şekilde kullanmanız bu gizlilik bildirimini ve yapılabilecek güncelleştirmeleri kabul ettiğiniz anlamına gelir.</p>
    <p> </p>
    <p><span style="color: #ec6600;"><strong>Güvenlik Bildirimi</strong></span></p>
    <p>  BAM Ayakkabı, erişim şifresi gibi bilgilerin sizin tarafınızdan belirlenmesine olanak sağlar. Erişim şifresinin unutulması durumunda kayıt olurken vermiş olduğunuz e-posta adresine yeni şifre oluşturmak için tanımlanan sayfa linki gönderilir.</p>
    <p> </p>
    <p>  BAM Ayakkabı gizli bilgilerin istendiği bölümlerde SSL (Secure Socket Layer) yöntemini kullanarak bilgilerinizin üçüncü şahısların eline geçmesini engeller.</p>
    <p> </p>
</div>							