
@{
    ViewBag.Title = "İade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="std">
    <p>BAM Ayakkabıdan ´den almış olduğunuz ve hiç kullanmadığınız ürünleri <strong>365</strong> gün içerisinde iade edebilir veya değiştirebilirsiniz.*</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>AŞAĞIDAKİ NEDENLERDEN MEYDANA GELEN PROBLEMLERDE İADE VE DEGİŞİM KABUL EDİLMEMEKTEDİR.</strong></span></h4>
    <p><strong><br /></strong></p>
    <p>-  Ayakkabınız kullanım amacına uygun olarak kullanılmalıdır.(Futbol oynamak için halı saha ayakkabısı yada krampon alınız vs.)<br />-  Ayakkabı giyilirken ve çıkartırken bağcıkları çözülmelidir, bağcıksız ayakkabılarda ise çekecek kullanılmalıdır.<br />-  Ayakkabılar ayağın maksimum şiş olduğu zaman dilimlerinde sağ ve sol olarak denenmelidir, ayağı sıkan ayakkabı kesinlikle alınmamalıdır.<br />-  Ayakkabınız ayağınıza uygun ölçüde olmalıdır. Ayağa küçük ve büyük gelen ayakkabılar erken deformasyon, astar yırtılması gibi sorunlara yol açacaktır.<br />-  Ayakkabı rutubetli ortamlarda bekletilmemelidir.<br />-  Islak ayakkabılar oda sıcaklığında kurutulmalıdır. Direkt güneş ışığı altında veya herhangi ısı kaynağının altında kurutulduğu taktirde ayakkabıların yapışma yerlerinde açma, deride çatlama, leke ve şekil bozukluğu olabilir.<br />-  Nubuk veya süet malzemeden üretilmiş ayakkabılar uygun sertlikte bir fırça veya bir silgi ile temizlenmeli, kesinlikle yıkanmamalı ve silikon bazlı spreyler kullanılmalıdır.<br />-  Ayakkabılar kesinlikle çamaşır makinesinde veya elde yıkanmamalıdır.<br />-  İç astarında sentetik malzeme kullanılan ayakkabıların koku yapması ve su alması muhtemeldir.<br />-  Ayakkabıların emmiş olduğu ter 24 saat içinde buharlaşır. Bu nedenle ayakkabıların 1 gün ara ile giyilmesi ayakkabının daha uzun ömürlü olmasını sağlar.<br />-  Ayağın aşırı terlemesinden dolayı ayakkabı üzerinde oluşabilecek giderilmesi mümkün olmayan lekeler üretim hatası değildir.<br />-  Hakiki deri ve astarsız olan ayakkabılarda derinin boya vermesi normal bir durumdur. Bu tür ayakkabılar alınırken bu durum peşinen kabul edilmiş sayılmakta ve garanti kapsamında herhangi bir işlem yapılamamaktadır.</p>
    <p> </p>
</div>
