
@{
    ViewBag.Title = "Sorulan_Sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="std">
    <h4><span style="color: #ec6600;"><strong> 1-Ayakkabılarımı satın alınırken ayağıma iyi gelmesine rağmen şuan sıkıyor ve bazı yerlerinden vuruyor. Ne yapmalıyım?</strong></span></h4>
    <p align="justify">  Ayakkabılar ayağa uyum sağlayıncaya kadar ilk birkaç giyimde ayağı sıkabilir veya vurabilir. Bu nedenle yeni ayakkabı ile dışarı çıkmadan önce evde giyerek bir kez daha denemekte fayda vardır. Kullanılmış ürünler vurma, sıkma gibi nedenlerden dolayı yenisi ile değiştirilmemektedir. Müşteri memnuniyeti adına rahatsızlık veren bölgeye genel bakım (kalıplama ve yumuşatma vb.) yapılabilmektedir.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>  2-Ayakkabılarım ayağımı boyuyor. Bu sorun neden kaynaklanmaktadır?</strong></span></h4>
    <p align="justify"><span style="text-decoration: underline;">İç astarı deri ise:</span>   Astarsız veya koyu renk astarlı ve deri mostra kullanılan ayakkabılarda derinin doğallığını bozacak ve ayak sağlığını olumsuz etkileyecek kimyasal maddeler kullanılmadığı için, deri rengi ayaklara ve çoraba çıkabilir. Bu tür durumlarda deri ile aynı renk veya koyu renk çorap giyilmesi yada ANTI-COLOR yani boya itici spreylerin kullanılmasını tavsiye etmekteyiz.</p>
    <p align="justify"><span style="text-decoration: underline;">İç astarı tekstil ise:</span>   İç astarında tekstil malzeme kullanılan ayakkabılarda astar kısmı renklendirilirken herhangi bir kimyasal madde kullanılmadığından dolayı astarın rengi ayakteri ile birlikte ayak ve çoraplara çıkabilmektedir.</p>
    <p>  Bu durum kullanılan malzemenin doğal yapısından kaynaklanmakta, herhangi bir üretim veya kullanım hatası olarak nitelendirilmemektedir.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>3-Kösele tabanlı ayakkabılarım kısa zamanda deforme oldu. Bu durum neden üretim hatası sayılmıyor?</strong></span></h4>
    <p align="justify">Kösele; doğal deri özelliğine sahip olup doğal yapıları nedeniyle gözeneklere sahiptirler. Bu sebeple kösele tabanlı ayakkabılar kuru havalarda yada kapalı alanlarda  kullanıma uygun olup, nefes alma özelliğine sahiptir. Dolayısı ile ıslak zeminlerde kullanıldığında tabanlarda önce erime, daha sonra delinme ve kırılmalar meydana gelecektir. Bu nedenden dolayı , ayakkabı alırken mevsimine göre tercih edilmeli ve bu konuda ayakkabı alırken mutlaka satış danışmanlarımızın tavsiyelerine dikkat edilmesi önemlidir.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>4-Ayakkabılarım su çekiyor.Bunun sebebi nedir?</strong></span></h4>
    <p align="justify">Doğal yapıları nedeniyle tüm deri türlerinin lifleri hidrofobik (emici) yüzeylere ve gözeneklere sahiptirler. Bu özelliklerinden dolayı derinin su ile temasında deri üzerinde ıslanma başlar. Temas süreklilik gösterirse su çeker. Yani; tüm deri ayakkabılar, eğer üzerlerinde ‘SU GEÇİRMEZ veya SUYA DAYANIKLI ÖZELLİKTEDİR’ (water resistant / water prof, goretex vb. ) ibaresi ve benzer bir ifade bulunmuyorsa yağmur ve kar suyunu (veya yoldaki göletlerdeki suyu) çekebilir. Bu durum bir üretim hatası sayılmayıp müşterilerimize su itici sprey kullanımı önerilmektedir.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong> 5-Ürünün derisi üzerinde çatlamalar oluşmasının sebebi nedir?</strong></span></h4>
    <p align="justify">  Deri çatlamalarının sebebi; ayakkabıların bir süre kullanımından sonra boya ve temizlik bakım ihtiyacının doğması ve buna bağlı olarak ayakkabının derisinin rengine ve cinsine uygun boya ve malzemelerle bakım ihtiyacı giderilmemesi, kalitesiz boya ve deri cinsine uygun olmayan malzeme kullanımı deri üzerinde çatlamalara neden olmaktadır.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong> 6-Ayakkabılarımın terletmesi ve koku yapmasının sebebi nedir?</strong></span></h4>
    <p align="justify">  Kullanıldıktan sonra dinlendirilmeyen deri astarlı ayakkabılarda ciltteki yağdan dolayı deri gözeneklerinin kapanması sebebiyle terleme ve bu duruma bağlı olarak koku oluşumu muhtemeldir. İç astarında suni deri yada tekstil malzeme kullanılan ayakkabılarda ise, kullanım esnasında ayak hava almayacağı için terleme ve koku yapabilir. Bu durumlarda ayakkabının emmiş olduğu terin 24 saat içinde buharlaştığı göz önünde bulundurularak 1 gün ara ile giyilmesi yada SHOE-DEO yani koku giderici ayakkabı deodorant´ı kullanılması tavsiye edilmektedir.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>7-Terliğimin tabanındaki renk attı, sebebi nedir? </strong></span></h4>
    <p align="justify">  Lame yada dore astar kullanılan ürünlerde ayak teri ve sürtünmeden dolayı astarda renk atmaları yaşanabilir. Açık renk astar kullanılan ürünlerde ise ayak teri ve ciltteki yağdan dolayı zamanla astar kısmında koyulaşma yaşanabilmektedir.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>8-Çocuğuma ilk ayakkabıyı ne zaman almalıyım?</strong></span></h4>
    <p align="justify">  Çocuklar yürümeyi öğrenmeye başlar başlamaz ayakkabı giymelidirler. Ayakkabılar, darbeyi emici lastik/kauçuk tabanlı ve yumuşak olmalı, içerisinde ayağın rahat edebileceği kadar boşluklar olmalıdır.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong>9-Süet veya Nubuk ayakkabılar nasıl temizlenmelidir?</strong></span></h4>
    <p align="justify">  Süet ayakkabılar süet silgisi ve süet fırçası ile temizlenmelidir. Nubuk ayakkabıların bakımı nubuk silgisi ve nubuk fırçası ile yapılmalıdır. Kösele, nubuk ve süet ayakkabılarınızı yağmurlu havalarda kullanmamaya özen gösteriniz.</p>
    <p> </p>
    <h4><span style="color: #ec6600;"><strong> 10-Almış olduğum ayakkabılarımın deri üzerinde kırılmalar oluşmasının sebebi nedir?</strong></span></h4>
    <p align="justify">  Ayakkabınızın derisinin üzerinde ayağınızın yapısına ve kullanım şekline göre kırışıklılar, esnemeler meydana gelebilir. Bu kırışıklıklar ve esnemeler ayağın her esneyişinde (bükümünde) artacaktır. Oluşacak şekil bozuklukları ve kırılmaları önlemek için ayakkabıların kalıp kullanılarak muhafaza edilmesini tavsiye etmekteyiz.</p>
</div>


