@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="http://www.facebook.com/Burakdemirci03" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
}
else
{
    <a href="http://www.twitter.com/lordeuskurkix" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
}

